<% provide :title, "Welcome" %>

<header class="jumbotron">
  <h1 class="display-4">House for Students</h1>
  <p class="lead">Rent it, Comment it, Vote it.</p>
  <hr class="my-md-4">
  <p>Renting wasn't be easy!</p>
</header>
